@import url('mapaMontagem.css');

.fault-list-header {
    position: fixed;
    top: calc((110px + var(--vertical-offset))* var(--scale-factor-height));
    right: calc(5px*var(--scale-factor-width));
    font-family: 'Segoe UI', Calibri, sans-serif;
    font-size: calc(14.5px*var(--scale-factor-width));
    color: rgba(255,255,255,0.5);
    user-select: none;
    pointer-events: none;
    transition: all 0.5s ease;
}

.fault-list {
    position: fixed;
    backdrop-filter: blur(10px) !important;
    top: calc((140px + var(--vertical-offset))* var(--scale-factor-height));
    right: calc(5px*var(--scale-factor-width));
    width: calc(170px*var(--scale-factor-width));
    min-height: 10vh;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: calc(16px*var(--scale-factor-height));
    background: rgba(0,0,0,0.1);
    color: rgba(255,255,255,0.8);
    font-family: 'Segoe UI', Calibri, sans-serif;
    font-size: calc(10px*var(--scale-factor-height));
    border-radius: calc(10px*var(--scale-factor-height));
    /*    box-shadow: 0 0 12px rgba(255, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.6);*/
    z-index: -1;
    /*    border: calc(1px*var(--scale-factor-height)) solid rgba(0, 0, 0, 0.2);*/
    user-select: none;
    /*    pointer-events: none;*/
    transition: all 0.5s ease;
}

.fault-entry {
    opacity: 0;
    transform: translateX(20px);
    margin-bottom: calc(14px*var(--scale-factor-width));
    padding: calc(10px*var(--scale-factor-height)) calc(12px*var(--scale-factor-width));
    background: rgba(255, 0, 0, 0.1);
    border-left: calc(4px*var(--scale-factor-width)) solid #ff4c4c81;
    border-radius: calc(6px*var(--scale-factor-width));
    transition: background 0.3s ease, border-color 0.3s ease, opacity 0.5s ease, transform 0.5s ease;
}

    /* Quando visível */
    .fault-entry.show {
        opacity: 1;
        transform: translateX(0);
    }

    /* Quando escondendo (opcional se quiser delay reverso) */
    .fault-entry.hide {
        opacity: 0;
        transform: translateX(calc(20px*var(--scale-factor-width)));
    }


    .fault-entry:hover {
        background: rgba(255, 0, 0, 0.25);
        border-left-color: #ff6666;
    }

    .fault-entry strong {
        display: block;
        font-weight: bold;
        font-size: calc(10px*var(--scale-factor-width));
        color: #ff9999;
        margin-bottom: calc(2px*var(--scale-factor-height));
    }

    .fault-entry span.fault-time {
        display: block;
        font-weight: bold;
        font-size: calc(8px*var(--scale-factor-width));
        color: #d0d0d0;
        margin-top: calc(6px*var(--scale-factor-height));
        font-style: italic;
    }
