:root {
    --scale-factor: 1;
    --horizontal-offset: 18vw;
    --vertical-offset: 0vh;
    --btn-color: #8ce436;
    --btn-scale-final: 13vw;
    --btn-scale-door: 10vw;
    --btn-scale-trim: 11vw;
    --btn-scale-ch5: 14vw;
    --btn-scale-ch4: 17vw;
    --btn-scale-ch3: 12vw;
    --btn-scale-ch2: 10vw;
    --btn-scale-ch1: 10vw;
    --btn-scale-dkg: 5vw;
    --btn-scale-trim0: 3vw;
    --btn-scale-glz: 8vw;
}

body {
    background: radial-gradient(circle at 70% 10%, rgba(255, 255, 255, 0.05), transparent), radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.3), transparent), #2d2d2d;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 5vw rgba(0, 0, 0, 0.5);
    font-weight: 200 !important;
    font-family: Arial, sans-serif !important;
}

#messageContainer {
    background: radial-gradient(circle at 30% 10%, rgba(255, 255, 255, 0.1), transparent), radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.1), transparent), #033f88;
    padding: 2vw;
    border-radius: 1vw;
    height: 80vh;
    position: relative;
    box-shadow: rgba(0,0,0,0.4) -1vw 1vw 1vw;
    transform-origin: top left;
    transform: scale(1);
}

.botton {
    line-height: 4vh;
    height: 8%;
    box-shadow: 0 0 0.5vw #8ce436;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0.1vw solid #8ce436;
    border-radius: 0.5vw;
    transition: all 500ms ease;
    position: absolute;
    overflow: hidden;
    padding: 1vw var(--btn-scale-final);
}

    .botton span {
        position: absolute;
        padding: 1vh;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6vw;
        font-weight: 100 !important;
        font-family: Calibri, sans-serif !important;
        color: rgba(255,255,255,0.8);
    }

.btn-final1 {
    padding: 1vh var(--btn-scale-final);
    transform: rotate(-90deg);
    bottom: calc(28vh + var(--vertical-offset));
    right: calc(-6vw + var(--horizontal-offset));
}

.btn-final2 {
    padding: 1vh var(--btn-scale-final);
    transform: rotate(-90deg);
    bottom: calc(28vh + var(--vertical-offset));
    right: calc(-12vw + var(--horizontal-offset));
}

.btn-door {
    padding: 1vh var(--btn-scale-door);
    transform: rotate(-90deg);
    bottom: calc(28vh + var(--vertical-offset));
    right: calc(5vw + var(--horizontal-offset));
}

.btn-ch05 {
    padding: 1vh var(--btn-scale-ch5);
    bottom: calc(8vh + var(--vertical-offset));
    right: calc(11vw + var(--horizontal-offset));
}

.btn-ch04 {
    padding: 1vh var(--btn-scale-ch4);
    bottom: calc(8vh + var(--vertical-offset));
    right: calc(48vw + var(--horizontal-offset));
}

.btn-ch03 {
    padding: 1vh var(--btn-scale-ch3);
    bottom: calc(14vh + var(--vertical-offset));
    right: calc(48vw + var(--horizontal-offset));
}

.btn-ch02 {
    padding: 1vh var(--btn-scale-ch2);
    transform: rotate(-90deg);
    bottom: calc(37vh + var(--vertical-offset));
    right: calc(57vw + var(--horizontal-offset));
}

.btn-ch01 {
    padding: 1vh var(--btn-scale-ch1);
    bottom: calc(20vh + var(--vertical-offset));
    right: calc(52vw + var(--horizontal-offset));
}

.btn-trim2 {
    padding: 1vh var(--btn-scale-trim);
    transform: rotate(-90deg);
    bottom: calc(37vh + var(--vertical-offset));
    right: calc(34vw + var(--horizontal-offset));
}

.btn-trim1 {
    padding: 1vh var(--btn-scale-trim);
    transform: rotate(-90deg);
    bottom: calc(37vh + var(--vertical-offset));
    right: calc(28vw + var(--horizontal-offset));
}

.btn-trim0 {
    padding: 1vh var(--btn-scale-trim0);
    transform: rotate(-90deg);
    bottom: calc(30vh + var(--vertical-offset));
    right: calc(70vw + var(--horizontal-offset));
}

.btn-decking {
    padding: 1vh var(--btn-scale-dkg);
    transform: rotate(-90deg);
    bottom: calc(42vh + var(--vertical-offset));
    right: calc(68vw + var(--horizontal-offset));
}

.btn-glazing {
    padding: 1vh var(--btn-scale-glz);
    transform: rotate(-90deg);
    bottom: calc(23vh + var(--vertical-offset));
    right: calc(73vw + var(--horizontal-offset));
}

.alert {
    display: none;
    position: absolute;
    top: 1vh;
    left: 105vw;
    height: 7vh;
    width: 30vh;
    background: radial-gradient(circle at 70% 10%, rgba(255, 255, 255, 0.05), transparent), radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.3), transparent), #2d2d2d;
    color: orange;
    box-shadow: rgba(0,0,0,0.4) -0.5vw 0.5vw 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    font-weight: 500 !important;
    font-family: Calibri, sans-serif !important;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

    .alert.show {
        display: flex;
        animation: fadeIn 1s forwards, fadeOut 1s 3s forwards;
    }

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
