.replay-mode {
    top: 500px;
    background: #333d44;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 18px;
    background: #22282b;
    border-radius: 10px;
    box-shadow: 0 2px 8px #0009;
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 200000;
    font-family: Calibri, 'Segoe UI', sans-serif;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.4em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: background 0.2s;
}

.replay-panel {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 18px;
    background: #22282b;
    border-radius: 10px;
    box-shadow: 0 2px 8px #0009;
    position: fixed;
    top: 30px;
    right: 325px;
    z-index: 200000;
    color: #fff;
    font-family: Calibri, 'Segoe UI', sans-serif;
}

    .replay-panel button {
        background: #333d44;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1.4em;
        cursor: pointer;
        width: 40px;
        height: 40px;
        transition: background 0.2s;
    }

        .replay-panel button:hover {
            background: #497fa9;
        }

    .replay-panel select, .replay-panel input[type="range"] {
        background: #292e34;
        color: #e3e3e3;
        border: none;
        border-radius: 5px;
        height: 28px;
    }

#replaySlider {
    width: 150px;
    accent-color: #61dafb;
}

#replayCurrentTime {
    min-width: 90px;
    font-family: 'Consolas', monospace;
    text-align: center;
}
