.replay-panel {
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
    background: #22282b;
    border-radius: 10px;
    box-shadow: 0 2px 8px #0009;
    position: fixed;
    top: 30px;
    right: 325px;
    z-index: 200000;
    color: #fff;
    font-family: Calibri, 'Segoe UI', sans-serif;
    transition: all 0.5s ease;
}

    .replay-panel button {
        background: #333d44;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1.4em;
        cursor: pointer;
        width: 40px;
        height: 40px;
        transition: background 0.2s;
    }

        .replay-panel button:hover {
            background: #497fa9;
        }

    .replay-panel select, .replay-panel input[type="range"] {
        background: #292e34;
        color: #e3e3e3;
        border: none;
        border-radius: 5px;
        height: 28px;
    }

#replaySlider {
    width: 150px;
    accent-color: #61dafb;
}

#replayCurrentTime {
    min-width: 90px;
    font-family: 'Consolas', monospace;
    text-align: center;
}
#startTime {
    font-size: 1em;
    text-align: center;
}
#startReplayBtn {
    font-size: 1em;
    text-align: center;
}
#replayStartTime {
    background: #292e34;
    color: #e3e3e3;
    border: 1px solid #444;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 1em;
    box-shadow: 0 1px 2px #0002 inset;
    transition: border 0.2s;
    min-width: 170px;
}

    #replayStartTime:focus {
        border: 1.5px solid #61dafb;
        outline: none;
    }

.loading-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
/*    margin-left: 8px;*/
    border: 3px solid #ddd;
    border-top: 3px solid #222;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
#startReplayBtn {
    background: #222;
    color: #fff;
    border: none;
    border-radius: 6px;
    width: 42px;
    height: 42px;
    font-size: 1.5em;
/*    display: flex;*/
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
/*    position: relative;*/
}

    #startReplayBtn:hover {
        background: #444;
    }

.btn-icon {
    display: inline-block;
    transition: opacity 0.2s;
}