@import url('mapaMontagem.css');

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Aplica Montserrat em tudo */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}


/* Color Variables */
:root {
  --sidebar-bg: #2f323a;
  --sidebar-width: calc(70px * var(--scale-factor-width));
  --sidebar-width-active: calc(200px * var(--scale-factor-width));
  --text-color: #fff;
  --menu-item-color: rgb(188, 186, 186);
  --menu-item-hover-bg: rgb(117, 109, 109);
  --menu-item-hover-color: #fff;
  --menu-header-color: rgb(137, 135, 135);
  --tooltip-bg: rgba(0, 0, 0, 0.8);
  --border-color: rgb(218, 147, 147);
}
.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: var(--sidebar-width);
    color: var(--text-color);
    padding: 0 calc(20px * var(--scale-factor-width));
    background-color: var(--sidebar-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
/*    z-index: 9000*/
}

.logo,
.menu-item,
.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.logo {
    margin-top: calc(80px * var(--scale-factor-height));
}
.logo-img {
    width: calc(80px * var(--scale-factor-width));
    height: auto;
    filter: brightness(0) invert(1);
    transition: width 0.5s ease;
}
.logo i,
.menu-item i,
.logout i {
    font-size: calc(16px * var(--scale-factor-width)) !important;
    transition: all 0.5s ease;
}

.logo span,
.menu-item span,
.logout span {
    margin-left: calc(10px * var(--scale-factor-width));
    display: none;
    transition: 0.5s ease;
}

.menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: calc(1rem * var(--scale-factor-height));
    justify-content: center;
}

.menu-header {
    color: var(--menu-header-color);
    text-transform: uppercase;
    text-align: center;
    font-size: calc(10px * var(--scale-factor-width));
    transition: 0.5s ease;
}

.menu-item {
    cursor: pointer;
    padding: calc(10px * var(--scale-factor-height)) calc(20px * var(--scale-factor-width));
    border-radius: calc(3px * var(--scale-factor-height));
    color: var(--menu-item-color);
    transition: all 0.5s ease;
    font-size: calc(12px * var(--scale-factor-width));
}

.menu-item:hover,
.nav-active,
.logout:hover {
  background: var(--menu-item-hover-bg);
  color: var(--menu-item-hover-color);
  transition: 0.5s ease;
}

    .menu-item i,
    .logout i {
        font-size: calc(17px * var(--scale-factor-width));
    }

.logout {
    padding: calc(10px * var(--scale-factor-height)) calc(20px * var(--scale-factor-width));
    margin-bottom: calc(10px * var(--scale-factor-height));
    border-radius: calc(10px * var(--scale-factor-height));
    cursor: pointer;
    color: var(--menu-item-color);
}

/* when sidebar menu is active */
.sidebar.active {
    width: var(--sidebar-width-active);
    z-index: 9000
}

.sidebar.active .logo,
.sidebar.active .menu-item,
.sidebar.active .logout {
  justify-content: flex-start;
}

/* when sidebar is active show the nav items */
.sidebar.active .logo span,
.sidebar.active .menu-item span,
.sidebar.active .logout span {
  display: block;
}

    .sidebar.active .menu-header {
        font-size: calc(12px * var(--scale-factor-width));
        text-align: left;
    }

/* toggle menu */
.toggle-menu {
    position: absolute;
    top: calc(10px * var(--scale-factor-height));
    left: calc(-35px * var(--scale-factor-width));
    background-color: var(--sidebar-bg);
    border: calc(1px * var(--scale-factor-height)) solid var(--menu-item-hover-bg);
    color: var(--text-color);
    padding: calc(10px * var(--scale-factor-height)) calc(15px * var(--scale-factor-width));
    border-radius: calc(5px * var(--scale-factor-height));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1.2rem * var(--scale-factor-width)) !important;
}

/* menu item tooltip */
[data-tooltip] {
  position: relative;
}
    [data-tooltip]::before {
        content: attr(data-tooltip);
        position: absolute;
        right: 120%;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--tooltip-bg);
        padding: calc(5px * var(--scale-factor-height)) calc(10px * var(--scale-factor-width));
        border-radius: calc(5px * var(--scale-factor-height));
        font-size: calc(12px * var(--scale-factor-width));
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease;
    }

    [data-tooltip]:after {
        content: "";
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        border-width: calc(10px * var(--scale-factor-width));
        border-style: solid;
        border-color: transparent var(--tooltip-bg) transparent transparent;
        opacity: 0;
        transition: all 0.5s ease;
    }
.sidebar:not(.active) [data-tooltip]:hover::before,
.sidebar:not(.active) [data-tooltip]:hover::after {
  opacity: 1;
}
.logout[data-tooltip]::before {
  right: 120%;
}
.logout[data-tooltip]::after {
  right: 100%;
}