<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Habilitar WebSockets sem o keepAliveInterval -->
		<webSocket enabled="true" />
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<!-- Configurações para o SignalR -->
		<aspNetCore processPath="dotnet" arguments=".\MontagemLayout.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		<!-- Ajuste de tempo para evitar desconexões frequentes -->
		<httpProtocol>
			<customHeaders>
				<add name="Keep-Alive" value="timeout=600, max=100" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

	<system.web>
		<!-- Configurações de limite de tempo para solicitações e sessões -->
		<sessionState mode="InProc" timeout="60" />
		<!-- Certifique-se de ter threads suficientes livres para requisições -->
		<processModel minFreeThreads="88" minLocalRequestFreeThreads="76" />
		<!-- Ajustar o número máximo de conexões -->
		<httpRuntime maxRequestLength="4096" executionTimeout="110" maxconnection="100" />
	</system.web>
</configuration>
